:root {
  --color-primary: #fcc93a;
  --color-primary-dark: rgb(158, 126, 40);
  --color-bg: #3d3d3d;
  --color-bg-dark: #1c1c1c;
  --color-text-secondary: #222;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@font-face {
  font-family: "montserrat";
  src: local("montserrat"), url("../webfonts/Montserrat-Black.ttf");
  font-weight: bolder;
}
@font-face {
  font-family: "montserrat";
  src: local("montserrat"), url("../webfonts/Montserrat-BlackItalic.ttf");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "montserrat";
  src: local("montserrat"), url("../webfonts/Montserrat-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "montserrat";
  src: local("montserrat"), url("../webfonts/Montserrat-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "montserrat";
  src: local("montserrat"), url("../webfonts/Montserrat-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "montserrat";
  src: local("montserrat"), url("../webfonts/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "montserrat";
  src: local("montserrat"), url("../webfonts/Montserrat-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "montserrat";
  src: local("montserrat"), url("../webfonts/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "montserrat";
  src: local("montserrat"), url("../webfonts/Montserrat-Thin.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "montserrat";
  src: local("montserrat"), url("../webfonts/Montserrat-ThinItalic.ttf");
  font-style: italic;
  font-weight: lighter;
}

body {
  font-family: "montserrat", sans-serif;
  font-weight: 450;
  font-size: small;
}

::-moz-selection {
  background-color: var(--color-primary);
}

::selection {
  background-color: var(--color-primary);
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.z-index-99 {
  z-index: 99 !important;
}

.position-fill {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.position-bcenter {
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay-dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.fit-cover {
  object-fit: cover;
  -o-object-fit: cover;
}

.font-size-unset {
  font-size: unset;
}

.btn {
  font-weight: 500;
}

.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-dark {
  background-color: var(--color-bg-dark);
  border-color: var(--color-bg-dark);
}

.btn:focus {
  outline: 5px auto var(--color-primary);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--color-primary-dark) !important;
  border-color: var(--color-primary-dark) !important;
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 208, 0, 0.5);
}

.btn-outline-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
  color: var(--color-text-secondary) !important;
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.text-primary,
.active > .nav-link,
.navbar-nav .nav-link.active {
  color: var(--color-primary) !important;
}

.text-secondary {
  color: var(--color-text-secondary) !important;
}

.banner-img {
  height: calc(100vh - 3rem);
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-primary-dark {
  background-color: var(--color-primary-dark) !important;
}

.bg-secondary {
  background-color: var(--color-bg) !important;
}

.bg-dark {
  background-color: var(--color-bg-dark) !important;
}

a.text-primary:hover,
a.text-primary:focus,
a.text-primary:active {
  color: var(--color-primary-dark) !important;
}

.form-control {
  border: 0;
  outline: 0;
}

.unset-font {
  font-size: unset;
  font-weight: unset;
  line-height: unset;
}

.form-control:focus {
  background-color: unset;
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 0 0.1rem var(--color-primary);
}

*.border-primary {
  border-color: var(--color-primary) !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}


/* Calender */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark {
  --bg-body: var(--dark-body);
  --bg-main: var(--dark-main);
  --bg-second: var(--dark-second);
  --color-hover: var(--dark-hover);
  --color-txt: var(--dark-text);
}

.calendar {
  height: max-content;
  width: max-content;
  background-color: var(--color-bg);
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  /* transform: scale(1.25); */
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-txt);
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
}

.calendar-days div {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  /* border-radius: 50%; */
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover span {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
  width: 2px;
  height: 0;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
  height: 100%;
}

.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}

.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
  width: 0;
  height: 2px;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
}

.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}

.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(2) {
  transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
  transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
  transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
  background-color: var(--color-primary);
  color: var(--white);
  border-radius: 50%;
}

.calendar-days div.curr-date span {
  display: none;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  background-color: var(--color-hover);
}

.year-picker {
  display: flex;
  align-items: center;
  color: var(--white);
}

.year-change {
  color: white !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  color: var(--color-primary);
  background-color: var(--color-hover);
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toggle {
  display: flex;
}

.toggle span {
  margin-right: 10px;
  color: var(--color-txt);
}

.dark-mode-switch {
  position: relative;
  width: 48px;
  height: 25px;
  border-radius: 14px;
  background-color: var(--bg-second);
  cursor: pointer;
}

.dark-mode-switch-ident {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--bg-main);
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
  top: 2px;
  left: calc(2px + 50%);
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-bg);
  padding: 20px;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: grid;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}

.month-list.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.month-list > div {
  display: grid;
  place-items: center;
}

.month-list > div > div {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: var(--color-txt);
}

.month-list > div > div:hover {
  background-color: var(--color-hover);
}

@keyframes to-top {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@media (max-width: 1000px) {
  .calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
  }
}
