#cal-task a.card:hover {
  transition: color 0.2s;
  transition: background-color 0.2s;
  color: var(--color-bg-dark) !important;
  background-color: var(--color-accent-pink) !important;
}

.calendar {
  background-color: var(--color-bg);
  border-radius: var(--border-radius);
  padding: 20px;
  position: relative;
  overflow: auto;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 15px;
}

@media (min-width: 440px) {
  .calendar-header {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
  }
}

.calendar-week-day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 30px;
}

@media (min-width: 440px) {
  .calendar-week-day {
    font-size: 15px;
  }
}

.calendar-week-day > div {
  display: grid;
  place-items: center;
}

.calendar-days {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-days > div {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: to-top 1s forwards;
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .calendar-days > div {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 414px) {
  .calendar-days > div {
    width: 30px;
    height: 30px;
  }
}

.calendar-days > div.curr-date {
  background-color: var(--color-accent-pink) !important;
}

.calendar-days > div.curr-date:hover {
  transition: color 0.3s;
  color: var(--color-text-secondary) !important;
}

.calendar-days > div.imp-date {
  color: var(--color-primary);
  background-color: var(--color-bg-dark);
  transition: color 0.3s;
}

.calendar-days > div.imp-date:hover {
  color: var(--color-accent-pink);
}

.month-picker {
  cursor: pointer;
}

.year-picker {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.year-change {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.year-change:hover {
  color: var(--color-primary);
}

span#cal-year {
  margin-left: 5px;
  margin-right: 5px;
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-bg);
  padding: 10px;
  grid-template-columns: repeat(3, auto);
  display: grid;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}

.month-list.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.month-list > div {
  display: grid;
  place-items: center;
}

.month-list > div > div {
  cursor: pointer;
}

@keyframes to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.week-calendar table {
  width: 100%;
}

.week-calendar td {
  text-align: center;
  width: 12.5%;
  height: 20px;
  border: 1px solid rgb(190, 190, 190) !important;
}

.week-calendar th {
  text-align: center;
}

.day-calendar table {
  width: 100%;
}
.day-calendar td:first-child {
  width: 12.5%;
  height: 20px;
  border: 1px solid rgb(190, 190, 190) !important;
}
.day-calendar td {
  height: 20px;
  border: 1px solid rgb(190, 190, 190) !important;
}
.day-calendar th {
  text-align: center;
}

.calendar select {
  font-weight: bolder;
}
